html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.txdot {
  float: left;
}

@media screen and (max-width: 420px) {
  #resize-title {
    font-size: large;
  }
}

@media screen and (max-width: 380px) {
  #resize-title {
    font-size: medium;
  }
}

@media screen and (max-width: 350px) {
  #resize-title {
    font-size: small;
  }
}
